<div flex >
    <div class="md-padding">
        <md-content>
            <md-button class="md-primary md-hue-1" ng-click="gotoForm(sid)">New Techie?</md-button>
          <!-- {{techies}} -->
        </md-content>
        <div id="table-div">
            <table class="table table-hover tbl-fitting" id="table">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody  ng-repeat="techie in techies track by $index">
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{techie.get('username')}}</td>
                        <td>{{techie.get('email')}}</td>
                        <td>{{techie.get('role')}}</td>
                        <td>  <button  ng-click="edit(techie.id)" class="menuBtn" aria-label="menu" id="btn"><i class="fa fa-pencil-square-o" > </i></td>
                        <td><button  ng-click="delete(techie.id)" class="menuBtn" aria-label="menu" id="btn"><i class="fa fa-trash-o"> </i></td>
                    </tr>
                </tbody>
            </table>
        </div>
       </div>
</div>